@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LilGrotesk";
  src: local("LilGrotesk"),
  url("./fonts/Grotesk/LilGrotesk-Bold.otf") format("truetype");
}

* {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-stroke {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    text-stroke-width: 1px;
  }
}

.border-beige {
  border-bottom: 4px solid #F4F2De;
}
.border-beige:hover {
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
}
.color-light-blue {
  color: #A1CCD1;
}

.color-beige {
  color: #F4F2De
}

.color-sage-green {
  color: #7C9D96
}

.color-soft-orange {
  color: #e9b384
}

.bg-color-beige {
  background-color: #F4F2De
}

.paragraph-font {
  font-family: 'poppins', 'sans serif';
}

.font-face-lg {
  font-family: 'LilGrotesk';
  font-weight: 900;
}

.round-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.round-left {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.item {
  transition: .3s;
}

.container:hover > :not(:hover) {
  opacity: .4;
}

.card {
  height:155px;
}

.card-image{
  height: 155px;
  width: 325px;
  min-width: 150px;
  object-fit: cover;
}

@media (min-width: 768) {
  .card-image {
    width: 400px;
  }
}

@media (min-width: 1024px) {
  .card {
    height: 500px;
    /* Add any other specific styles for the "card" class at 1024px or greater here */
  }

  .card-image {
    height: 200px;
  }
}

@media (max-width: 768px) {
   .card-text {
    font-size: 8px;
  }

  .card {
    height: 125px;
    width:  325px;
  }

  .card-image {
    height: 125px;
  }
}

@media (max-width: 568px) {
  .card-text {
    font-size: 10px;
  }

  .card {
    height: 125px;
    width:  95%;
  }

  .card-image {
    height: 125px;
  }
}